# PDF files
/pdf

# IDEs
backend/.idea/*
backend/.vscode/*
frontend/.vscode/*
.vscode/settings.json
/.idea
/database/.idea

# Misc
/database_img
/screenshots
/backend/static

# Environments
/backend/.env
/backend/ssl_certificate

# Dependencies
/backend/node_modules
/backend/uploads
/backend/dist
/backend/.eslintrc.js
/backend/tsconfig.json
/backend/env
/database/test.sql
/backend/logs
/backend/src/logs

# Frontend dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# Testing
/frontend/coverage

# Production
/frontend/build

# Misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/.nx
/frontend/.nx/cache
/frontend/.vscode
/frontend/.idea
/frontend/public/assets

# Debug logs
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Optional eslint cache
/frontend/.eslintcache


