@import '../global.scss';

ion-content{

    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden;

    .map-container{
        height: 40vh;
        max-height: 40%;
        overflow-y: hidden;
    }
    
    .grid-contents{
        max-height: 30rem;
        height: 100%;
        overflow-y: scroll;
        background-color: $trip-info-background-color;
        color: $ionic-text-color;

        ion-title{
            text-decoration: underline;
            color: $ionic-text-color;
        }

        .custom-col{
            display: flex;
            flex-direction: column;
            height: 100%;
                
            .passenger-time-info{
                display: flex;
                align-items: center;
                flex-direction: column;
                height: 100%;
                width: 100%;
                min-height: fit-content;

                .time-calendar-people{
                    height: 100%;
                    max-height: 6rem;
                    width: 100%;
                }
                
                .passengers-details{
                    width: 100%;
                }

                .driver-details{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                    .car-icon{
                        font-size: 1.5rem;
                    }
                }

                .people-icon,
                .time-icon,
                .calendar-icon{
                    font-size: 1.5rem;
                    color: $ionic-text-color;
                }
            }

            .stops-display{
                @include display-flex-center('align');
                flex-direction: column;
                // overflow-y: auto;
                height: 100%;
                width: 100%;
                
                .stop{
                    @include display-flex-center('align');
                    flex-direction: column;
                }
                
            }
    
            ion-item{
                width: 100%;
                color: var(--ionic-text-color);
                *{
                    font-size: 1rem;
                }
            }
        }
        .vehicle-images{
            width: 100%;
            @include display-flex-center('both');
            flex-direction: column;

            ion-label{
               text-decoration: underline; 
            }

            .swiper{
                width: 90%;
            }
        }
    }

}
.join-button{
    width: 100%;
    @include display-flex-center('justify');
    background-color: $trip-info-background-color;
    
}

.no-current-trip{
    @include display-flex-center('both');
    height: 100%;
    width: 100%;
    background-color: $trip-info-background-color;
    color: $ionic-text-color;
}