@import '../global.scss';

ion-content{

    display: flex;
    flex-direction: column;
    overflow: hidden;

    ion-title{
        text-decoration: underline;
    }

    .map{
        height: 40%;
    }
    
    .grid-contents{
        max-height: 60%;
        overflow-y: scroll;

        .custom-col{
            display: flex;
            flex-direction: column;
            height: 100%;
                
            .passenger-time-info{
                display: flex;
                align-items: center;
                flex-direction: column;
                height: 100%;
                width: 100%;
                
                .passengers-details{
                    width: 100%;
                }

                .driver-details{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                    .car-icon{
                        font-size: 1.5rem;
                    }
                }

                .people-icon,
                .time-icon,
                .calendar-icon{
                    font-size: 1.5rem;
                }
            }

            .stops-display{
                @include display-flex-center('align');
                flex-direction: column;
                // overflow-y: auto;
                height: 100%;
                width: 100%;
                
                .stop{
                    @include display-flex-center('align');
                    flex-direction: column;
                }
                
            }
    
            ion-item{
                width: 100%;
                *{
                    font-size: 1rem;
                }
            }
        }
    }

}
.join-leave-buttons{
    width: 100%;
    @include display-flex-center('justify');
    background-color: white;
    

}