.time-icon,
.people-icon,
.pin-icon,
.location-icon,
.flag-icon,
.car-icon {
  margin-right: 0.5rem;
}



.trip-info-container {
  border-radius: 1rem; 
  width: 100%;
  max-width: 30rem;
  margin: 0;
}

.card-content {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  padding: 0;
}

.start-finish {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.origin-finish-item{
  width: 40%;
  max-width: 15rem;
  margin: 0;
}

.arrow-item{
  display: flex;
  justify-content: center;
  width: 20%;
  max-width: 12rem;
}

.time-people-container{
  width: 100%;
}

.driver-info-container {
  width: 100%;
}

.driver-info-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.item-content-centered {
  flex-grow:inherit;
  width: 100%;
}

ion-card-header {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-col{
  display: flex;
  justify-content: center;
}