@import "../global.scss";


.trip-in-progress,
.trip-not-in-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $trip-info-background-color;
    ion-item{
        --color: var(--ionic-text-color);     
        --background: #3880ff;
        border-radius: 1rem;
    }
}