@import '../global.scss';

.label-input{
    width: 100%;
    margin-top: 0.5rem;
    ion-label{
        margin-bottom:0;
    }
    ion-input{
        font-size: 1.35rem;
        width: 90%;
        margin-top: -0.5rem;
        ::placeholder{
            font-size: 1.1rem;
        }
    }

    //remove increment/decrement arrows from number input
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield; /* Firefox */
    }
}