@import "../../global.scss";

.passenger-item{
    width: 100%;
    ion-item{
        width: 100%;
        ion-avatar {
            width: 35%;
        }
        .name-rating{
            @include display-flex-center('both');
            flex-direction: column;
            width: 100%;
            max-width: 8rem;
            
            }
    }
}