.coupon-list-row{
    border-radius: 1.1rem;
    border: 1px solid black;
    margin: 0.5rem;
    width: 95%;
    height: 10%;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    background-color: lightblue;

    label{
        text-align: center;
        align-content: center;
    }

    ion-button{
        --border-radius: 0.7rem;
        width: 90%;
    }

    .extend{
        grid-column: span 6;
        .detailed-info{
            width: 100%;
            .card{
                background-color: lightblue;
                width: 100%;
                border: none;
                margin: 0.5rem;
            }
        }
    }
    
}