@import './../global.scss';

ion-content{
    .content-header{
        .sub-tabs-container{
            @include display-flex-center('justify');
            width: 100%;
            ion-button{
                flex: 1;
                max-width: 15rem;
            }
        }
    }

    .list-item{
        border-radius: 1.1rem;
        background-color: lightblue;
        margin: 0.5rem 0.5rem;
        padding: 0.2rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        place-items: center;
        text-align: center;
    
        .extended-coupon-info{
            grid-column: span 2;
            width: 100%;
            .card{
                background-color: lightblue;
                border: none;
                text-align: left;
                width: 100%;
            }
        }
    }
}