@import '../global.scss';

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}
ion-grid{
    height: 100%;
    padding: 0;
    @include display-flex-center('both');
    flex-direction: column;
    ion-row {
        height: 90%;
        width: 100%;
    }

    .filler{
        height: 5%;
    }
}

ion-content{

    .custom-form {
        width: 100%;
        @include display-flex-center('justify');

        .form-contents {
            // height: 100%;
            width: 85%;
            @include display-flex-center('both');
            flex-direction: column;
            *{
                width: 100%;
                max-width: 25rem;
                margin-bottom: 0.5rem;
                ion-button,
                input{
                    max-width: 95%;
                }
            }

            .plate-number-container,
            .licenseId-container{
                @include display-flex-center('both');
                flex-direction: column;
                width: 100%;
                height: fit-content;
                input {
                    height: 2.5rem;
                    background-color: #3880ff;
                    text-align: center;
                    border-radius: 0.2rem;
                    font-size: 1rem;
                    border: none;
                    color: $ionic-text-color;
                    font: $ionic-font;

                    &::placeholder {
                        color: $ionic-text-color;
                        opacity: 1;
                    }

                    &:focus {
                        outline: none;
                        border: 2.5px solid black;
                    }
                }
                .error-message {
                    @include error-message-style();
                    height: fit-content;
                }
            }
        }
    }
}

.register-button-container{
    width: 100%;
    @include display-flex-center('both');
    ion-button{
        width: 80%;
        max-width: 15rem;
    }
}
