@import '../global.scss';

ion-menu{
    .menu-content{
        height: 90%;
        width: 100%;
        @include display-flex-center('both');
        flex-direction: column;
        justify-content: space-between;

        .logout-button{
            width: 50%;
        }

        .dropdown{
            display: flex;
            justify-content: center;
            margin-bottom: 0.5rem;

            .dropdown-item{
                white-space: normal;
                word-wrap: break-word;
            }
        }


        .dropdown button{
            background-color: $ionic-background-color;
            width: 60%;
        }

        .instructions-list{
            margin: 0.5rem; ;
            background-color: $ionic-background-color;
            color: $ionic-text-color;
            border-radius: 0.5rem;

            .bullet-list{
                list-style: none;
                li::before{
                    content: "• ";
                    color: $ionic-text-color;
                }
            }
        }
    }
}