@import '../global.scss';



.new-trip-input-container {
    @include display-flex-center('justify');
    overflow-y: auto;
    margin-top: 1rem;
    
    .trip-form{
        @include display-flex-center('both');
        width: 100%;
        height: 100%;
        flex-direction: column;

        .form-contents {
            width: 80%;
            @include display-flex-center('both');
            flex-direction: column;

            ion-item {
                --background: transparent;
                .passengers-credentials-container{
                    @include display-flex-center('both');
                    flex-direction: column;
                    margin: 0.5rem 0;
                    *{
                        margin: 0.5rem 0;
                    }
                }
            }

            *{
                width: 100%;
                max-width: 100%;
            }
        }

        ion-button {
            width: 60%;
            max-width: 15rem;
        }
    }
}