@import '../global.scss';

.centering-container{
    @include centering-container;
    
    .limiting-container{
        @include limiting-container;
        max-width: 30rem;
    }
}

ion-toolbar{
    --background: white;
}

.profile-container{
    @include display-flex-center('both');
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    
    .submitted-reviews-container,
    .trips-completed-container{
        width: 90%;
        margin-top: 1rem;
    }

    .profile-picture-container{
        @include display-flex-center('both');
        flex-direction: column;
        ion-avatar {
            height: 10rem;
            width: 10rem;
            
        }
    }
    .user-name-rating-container{
        @include display-flex-center('both');
        flex-direction: column;
        width: 90%;
        background-color: $trip-info-background-color;
        border-radius: 10px;
        margin-bottom: 1rem;
        color: $ionic-text-color;
        .user-rating{
            @include display-flex-center('both');
            width: 100%;
            color: $ionic-text-color;
        }
    }


}