@import '../global.scss';

ion-content {
    .user-registration-container{
        width: 100%;
        @include display-flex-center('both');
    }
    .custom-form {
        @include display-flex-center('justify');
        width: 100%;
        max-width: 25rem;
        .form-contents {
            width: 80%;
            @include display-flex-center('both');
            flex-direction: column;
            text-align: center;
            max-width: 30rem;
            .profile-picture-container{
                @include display-flex-center('both');
                flex-direction: column;
                ion-avatar {
                    height: 10rem;
                    width: 10rem;
                    display: flex;
                    align-items: center;
                }
                
                .error-message{
                    @include error-message-style();
                }

                .hover-space{
                    @include display-flex-center('both');
                    .profile-picture-hover {
                        position: absolute;
                        background-color: black;
                        color: white;
                    }
                }
            }
            .controlled-input-field {
                width: 100%;
                display: flex;
                flex-direction: column;
                .error-message {
                    @include error-message-style();
                }
            }
            ion-checkbox {
                margin-top: 1rem;
            }
        }
    }    
}

.register-button-container {
    width: 100%;
    @include display-flex-center('both');
    ion-button {
        width: 80%;
        max-width: 15rem;
    }
}

