@import '../global.scss';

@mixin error-message-style {
    background-color: $danger-color;
    color: $ionic-text-color;
    padding: 0.3rem;
    border-radius: 1rem;
    margin: 0rem;
    position: relative;

    &::before { //used to add child elements to the error message
        content: '';
        position: absolute; //positions the notch relative to the error message
        top: -1rem; //positions the notch above the top edge of the error message
        left: 50%; //positions the notch in the middle of the error message
        transform: translateX(-50%); 
        border-width: 0.5rem;
        border-style: solid;
        border-color: transparent transparent $danger-color transparent;
      }
}

ion-content {

    .custom-form {
        @include display-flex-center('justify');
        width: 100%;
        max-width: 25rem;
        .form-contents {
            width: 80%;
            @include display-flex-center('both');
            flex-direction: column;
            text-align: center;
            max-width: 30rem;
            .profile-picture-container{
                @include display-flex-center('both');
                flex-direction: column;
                ion-avatar {
                    height: 10rem;
                    width: 10rem;
                    
                }
                
                .error-message{
                    @include error-message-style();
                }

                .hover-space{
                    @include display-flex-center('both');
                    .profile-picture-hover {
                        position: absolute;
                        background-color: black;
                        color: white;
                    }
                }
            }
            .controlled-input-field {
                width: 100%;
                display: flex;
                flex-direction: column;
                .error-message {
                    @include error-message-style();
                }
            }
            ion-checkbox {
                margin-top: 1rem;
            }
        }
    }    
}

.register-button-container {
    width: 100%;
    @include display-flex-center('both');
    ion-button {
        width: 80%;
        max-width: 15rem;
    }
}

