@mixin display-flex-center($type: 'justify') {
    display: flex;
  
    @if $type == 'justify' {
      justify-content: center;
    } @else if $type == 'align' {
      align-items: center;
    } @else if($type == 'both'){
      justify-content: center;
      align-items: center;
    }
} 

$font-size-large: 2rem;
$font-size-medium: 1.1rem;
$ionic-background-color: #3880ff;
$ionic-text-color: #fff;
$trip-info-background-color: rgb(44, 110, 219);
$success-color: #32c977;
$danger-color: #f04141;
$ionic-font: 'Roboto', sans-serif;

:root{
  --success-color: #32c977;
  --danger-color: #f04141;
  --trip-info-background-color: rgb(44, 110, 219);
  --ionic-background-color: #3880ff;
}