@import '../../global.scss';

.list-display{
    color: black;
    .list-header{
        width: 95%;
        display: grid;
        grid-template-columns: repeat(11,1fr);

        label{
            text-align: center;
            
        }
    }
    .users-list{
        @include display-flex-center('both');
        flex-direction: column;
    }
}